body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #9e9ea4;
    font-family: sans-serif;
}
.header,.header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.icon {
    line-height: 1px;
    font-size: 20px;

}

.icon_header {
    line-height: 1px;
    font-size: 26px;
}

.header-right > svg{
    margin-right: 15px;
    font-size: 20px;
    color: black;
}

.close_icon {
    color: red;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 180px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        'sidebar header header header'
        'sidebar main main main';

    min-height: 100vh;
}

/* Header */
.header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
    display: none;
    display: flex;

}

/* sidebar    */
#sidebar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    left: 0;
    
    height: 100vh;
    background-color: #263043;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    margin-bottom: 30px;
}

.sidebar-title>span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px;
    font-size: 18px;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-list-item>a {
    text-decoration: none;
    color: #9e9ea4;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: index 12 !important;
}

/* end siderbar */
/* main */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    /* width: 100%; */
    min-height: 110vh;
    color: rgba(255, 255, 255, 0.95);
}

.main-title {
    display: flex;
    justify-content: space-between;

}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border-radius: 5px;
    color: black;
    background-color: #e0dbff;
}
.card .leftCard img{
    background-color: rgb(206, 247, 206);
    padding: 1rem;
    border-radius: 50%;
    width: 50px;
    margin: 0rem .5rem;
    height: auto;
    object-fit: cover;
}
.card .leftCard .two{
    background-color: rgb(239, 245, 153);
    
}
.card .leftCard .three{
    background-color: rgb(173, 163, 231);
    
}
.card .leftCard .four{
    background-color: rgb(174, 175, 174);
    
}


.rightCard{
    line-height: 1px;
}


/* emd main*/
/* medium <=992px*/
@media screen and (max-width: 1100px) {
    .main-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 15px 0;
    }
}

@media screen and (max-width:992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 'header' 'main';
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title>span {
        display: inline;
    }
}

@media screen and (max-width: 700px) {
    .charts {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 20px 20px 70px 20px;
        height: 100%;
    }
}

@media screen and (max-width: 500px) {
    .charts {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 10px 10px 50px 10px;
        height: 100%;
    }
    .main-cards {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
        margin: 15px 0;
    }

    .card-inner>.card_icon {
        font-size: 18px;
    }
    .main-container{
      
        padding: 10px;
        
    }
    .card-inner>h3 {
        font-size: 15px;
    }

    .card-inner>h1 {
        font-size: 18px;
    }
}